@model IEnumerable<CourseOffering>
@{
    ViewData["Title"] = "CourseOfferingsForCourse";
}

<h2>CourseOfferingsForCourse</h2>

@if (Model.Count() == 0)
{
    <h4>No Matches For Your Search</h4>
}

else
{
    <table class=" table table-bordered table-striped">

        <thead>
            <tr>
                <td>CRN</td>
                <td>Course Name</td>
                <td>Department Name</td>
                <td>Instructor Name</td>
                <td>Days</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Course Start Date</td>
                <td>Course End Date</td>
            </tr>
        </thead>

        <tbody>
            @foreach (CourseOffering eachOffering in Model)
            {
                var startDate = eachOffering.StartDate.Month + "/" + eachOffering.StartDate.Day
                    + "/" + eachOffering.StartDate.Year;
                var endDate = eachOffering.EndDate.Month + "/" + eachOffering.EndDate.Day
                    + "/" + eachOffering.EndDate.Year;

                var lastName = "Temp String";

                @if (eachOffering.InstructorID == null)
                {
                    lastName = "No Instructor Assigned";
                }

                else
                {
                    lastName = eachOffering.Instructor.InstructorLastName;
                }

                <tr>
                    <td>@eachOffering.CRN</td>
                    <td>@eachOffering.Course.CourseName</td>
                    <td>@eachOffering.Course.Department.DepartmentName</td>
                    <td>@lastName</td>
                    <td>@eachOffering.Days</td>
                    <td>@eachOffering.StartTime.ToShortTimeString()</td>
                    <td>@eachOffering.EndTime.ToShortTimeString()</td>
                    <td>@startDate</td>
                    <td>@endDate</td>
                </tr>
            }


        </tbody>



    </table>
}