@model IEnumerable<Course>


@{
    ViewData["Title"] = "Get All Courses";
}

<h2>GetAllCourses</h2>
<table class="table">
    <thead>
        <tr>
            <td>Course ID</td>
            <td>Course Number</td>
            <td>Course Name</td>
            <td>Department Name</td>
            <td></td>
        </tr>
    </thead> 

    <tbody>
     
        @foreach(Course eachCourse in Model)
        {
           
            <tr>
                <td>@eachCourse.CourseID</td>
                <td>@eachCourse.CourseNumber</td>
                <td>@eachCourse.CourseName</td>
                <td>@eachCourse.Department.DepartmentName</td>
                <td>
                    <a class="btn btn-primary"  asp-action="CourseOfferingsForCourse" asp-route-id="@eachCourse.CourseID">View Offerings</a>
                </td>

            </tr>

                
         }



    </tbody>


</table>
